/* Border styles */
.hostTable thead, .hostTable tr {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: rgba(167, 181, 230, 0.43);
}
.hostTable {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(133, 168, 230);
}

/* Padding and font style */
.hostTable td, .hostTable th {
  padding: 5px 10px;
  font-size: 12px;
  font-family: Verdana;
  color: rgb(45, 67, 120);
}

/* Alternating background colors */
.hostTable tr:nth-child(even) {
  background: hsl(0, 0%, 93%);
}
.hostTable tr:nth-child(odd) {
  background: #FFF
}
.host-content{
  margin: 15px 55px;
}
.host-parts{
  padding: 20px 30px;
  border-top: solid hsla(0, 0%, 83%, 1) 1px;
}
.f-sub-title{
  margin-bottom: 8px;
}
thead{
  background: #8080ff;
}
.myThead{
  background-color: hsla(245, 48%, 92%, 1);
  height: 36px;
}
.heavyFont{
  margin: 10px;
  font-size: 37px;
  font-weight: 500;
  color: #ffce3d;
  text-shadow: 0px 0px 2px #d17fe0;
}
.subParts {
  height: 200px;
  border: 0.5px solid #ececec;
  text-align: center;
  padding: 13px 0;
}
.subParts h2{
  font-weight: 700;
}
.dsp p {
  font-weight: 100;
  margin: 5px 0;
  font-size: 15px;
}
.dsp {
  margin: 15px 0;
  margin-left: 20px;
}
