<div class="f-sub-title">基金概况</div>
<table>
  <tr>
    <th>基金简称</th>
    <td >{{details.name}}</td>
    <th>基金代码</th>
    <td >{{details.code}}</td>
  </tr>
  <tr>
    <th>基金全称</th>
    <td colspan="3">{{details.full_name}}</td>
  </tr>
  <tr>
    <th >成立日期</th>
    <td >{{details.found_date}}</td>
    <th >基金类型</th>
    <td >{{details.type }}</td>
  </tr>
  <tr>
  <th >交易状态</th>
    <td >{{details.trade_state}}</td>
    <th >基金状态</th>
    <td >{{details.state}}</td>
  </tr>
  <tr>
  <th >基金经理</th>
    <td >{{details.manager }}</td>
    <th >基金公司</th>
    <td >{{details.company}}</td>
  </tr>
  <tr>
  <th >基金托管费</th>
    <td >{{details.save_fee}}</td>
    <th >基金管理费</th>
    <td >{{details.mng_fee}}</td>
  </tr>
  <tr>
  <th >最新份额</th>
    <td >{{details.lastest_value}}</td>
    <th >首募规模</th>
    <td >{{details.first_scale}}</td>
  </tr>
  <tr>
  <th >最新规模</th>
    <td >{{details.lastest_scala}}</td>
    <th >托管银行</th>
    <td >{{details.bank}}</td>
  </tr>
</table>
