<div class="f-container">
  <div class="f-main">
  <div class="questionnaireContent">
    <div class="f-main-title">风险测试</div>
    <form nz-form [nzType]="'horizontal'" [formGroup]="questionnaireForm">
    <div nz-form-item >
      <div nz-form-label >
        <p>•	1、您现在的年龄是：</p>
      </div>
      <div nz-form-control >
        <nz-radio-group formControlName="q1">
          <label nz-radio [nzValue]="1">
            <span>A、65岁以上 </span>
          </label>
          <label nz-radio [nzValue]="2">
            <span>B、51-65岁</span>
          </label>
          <label nz-radio [nzValue]="3">
            <span>C、31-50岁</span>
          </label>
          <label nz-radio [nzValue]="4">
            <span>D、18-30岁</span>
          </label>
        </nz-radio-group>
      </div>
    </div>
    <div nz-form-item >
      <div nz-form-label >
        <p>•	2、您的学历是：</p>
      </div>
      <div nz-form-control >
        <nz-radio-group formControlName="q2">
          <label nz-radio [nzValue]="1">
            <span>A、高中及以下</span>
          </label>
          <label nz-radio [nzValue]="2">
            <span>B、中专或大专</span>
          </label>
          <label nz-radio [nzValue]="3">
            <span>C、本科</span>
          </label>
          <label nz-radio [nzValue]="4">
            <span>D、硕士及以上</span>
          </label>
        </nz-radio-group>
      </div>
    </div>
    <div nz-form-item >
      <div nz-form-label >
        <p>•	3、您的收入主要来自于：</p>
      </div>
      <div nz-form-control >
        <nz-radio-group formControlName="q3">
          <label nz-radio [nzValue]="1">
            <span>A、工资、劳务报酬</span>
          </label>
          <label nz-radio [nzValue]="2">
            <span>B、生产经营所得</span>
          </label>
          <label nz-radio [nzValue]="3">
            <span>C、利息、股息、转让等金融性资产收入</span>
          </label>
          <label nz-radio [nzValue]="4">
            <span>D、出租、出售房地产等非金融性资产收入</span>
          </label>
          <label nz-radio [nzValue]="5">
            <span>E、无固定收入</span>
          </label>
        </nz-radio-group>
      </div>
    </div>
    <div nz-form-item >
      <div nz-form-label >
        <p>•	4、您的职业是</p>
      </div>
      <div nz-form-control >
        <nz-radio-group formControlName="q4">
          <label nz-radio [nzValue]="1">
            <span>A、无固定职业</span>
          </label>
          <label nz-radio [nzValue]="2">
            <span>B、专业技术人员</span>
          </label>
          <label nz-radio [nzValue]="3">
            <span>C、一般企事业单位员工</span>
          </label>
          <label nz-radio [nzValue]="4">
            <span>D、金融行业一般从业人员</span>
          </label>
        </nz-radio-group>
      </div>
    </div>
    <div nz-form-item >
      <div nz-form-label >
        <p>•	5、您的家庭可支配年收入为（折合人民币）？</p>
      </div>
      <div nz-form-control >
        <nz-radio-group formControlName="q5">
          <label nz-radio [nzValue]="1">
            <span>A、50万元以下</span>
          </label>
          <label nz-radio [nzValue]="2">
            <span>B、50-100万元</span>
          </label>
          <label nz-radio [nzValue]="3">
            <span>C、100-500万元</span>
          </label>
          <label nz-radio [nzValue]="4">
            <span>D、500-1000万元</span>
          </label>
          <label nz-radio [nzValue]="5">
            <span>E、1000万元以上</span>
          </label>
        </nz-radio-group>
      </div>
    </div>
    <div nz-form-item >
      <div nz-form-label >
        <p>•	6、在您每年的家庭可支配收入中，可用于金融投资（储蓄存款除外）的比例为？</p>
      </div>
      <div nz-form-control >
        <nz-radio-group formControlName="q6">
          <label nz-radio [nzValue]="1">
            <span>A、小于10%</span>
          </label>
          <label nz-radio [nzValue]="2">
            <span>B、10%至25%</span>
          </label>
          <label nz-radio [nzValue]="3">
            <span>C、25%至50%</span>
          </label>
          <label nz-radio [nzValue]="4">
            <span>D、大于50%</span>
          </label>
        </nz-radio-group>
      </div>
    </div>
    <div nz-form-item >
      <div nz-form-label >
        <p>•	7、您的个人总资产为（含固定资产、金融资产）？</p>
      </div>
      <div nz-form-control >
        <nz-radio-group formControlName="q7">
          <label nz-radio [nzValue]="1">
            <span>A、300-500万元</span>
          </label>
          <label nz-radio [nzValue]="2">
            <span>B、500-1000万元</span>
          </label>
          <label nz-radio [nzValue]="3">
            <span>C、1000万元以上</span>
          </label>
        </nz-radio-group>
      </div>
    </div>
    <div nz-form-item >
      <div nz-form-label >
        <p>•	8、您是否有尚未付偿的数额较大的债务，如有，其性质是：</p>
      </div>
      <div nz-form-control >
        <nz-radio-group formControlName="q8">
          <label nz-radio [nzValue]="1">
            <span>A、没有</span>
          </label>
          <label nz-radio [nzValue]="2">
            <span>B、有，住房抵押贷款等长期定额债务</span>
          </label>
          <label nz-radio [nzValue]="3">
            <span>C、有，信用卡欠款、消费信贷等短期信用债务</span>
          </label>
          <label nz-radio [nzValue]="4">
            <span>D、有，亲戚朋友借款 </span>
          </label>
        </nz-radio-group>
      </div>
    </div>
    <div nz-form-item >
      <div nz-form-label >
        <p>•	9、您的投资知识可描述为：</p>
      </div>
      <div nz-form-control >
        <nz-radio-group formControlName="q9">
          <label nz-radio [nzValue]="1">
            <span>A、有限：基本没有金融产品方面的知识</span>
          </label>
          <label nz-radio [nzValue]="2">
            <span>B、一般：对金融产品及其相关风险具有基本的知识和理解</span>
          </label>
          <label nz-radio [nzValue]="3">
            <span>C、丰富：对金融产品及其相关风险具有丰富的知识和理解</span>
          </label>
        </nz-radio-group>
      </div>
    </div>
    <div nz-form-item >
      <div nz-form-label >
        <p>•	10、您的投资经验可描述为：</p>
      </div>
      <div nz-form-control >
        <nz-radio-group formControlName="q10">
          <label nz-radio [nzValue]="1">
            <span>A、除银行储蓄外，基本没有其他投资经验</span>
          </label>
          <label nz-radio [nzValue]="2">
            <span>B、购买过债券、保险等理财产品</span>
          </label>
          <label nz-radio [nzValue]="3">
            <span>C、参与过股票、基金等产品的交易</span>
          </label>
          <label nz-radio [nzValue]="4">
            <span>D、参与过权证、期货、期权等产品的交易</span>
          </label>
        </nz-radio-group>
      </div>
    </div>
    <div nz-form-item >
      <div nz-form-label >
        <p>•	11、您有多少年投资基金、股票、信托、私募证券或金融衍生产品等风险投资品的经验？</p>
      </div>
      <div nz-form-control >
        <nz-radio-group formControlName="q11">
          <label nz-radio [nzValue]="1">
            <span>A、没有经验</span>
          </label>
          <label nz-radio [nzValue]="2">
            <span>B、少于2年</span>
          </label>
          <label nz-radio [nzValue]="3">
            <span>C、2至5年</span>
          </label>
          <label nz-radio [nzValue]="4">
            <span>D、5至10年</span>
          </label>
          <label nz-radio [nzValue]="5">
            <span>E、10年以上</span>
          </label>
        </nz-radio-group>
      </div>
    </div>
    <div nz-form-item >
      <div nz-form-label >
        <p>•	12、您计划的投资期限是多久？</p>
      </div>
      <div nz-form-control >
        <nz-radio-group formControlName="q12">
          <label nz-radio [nzValue]="1">
            <span>A、1年以下</span>
          </label>
          <label nz-radio [nzValue]="2">
            <span>B、1-3年</span>
          </label>
          <label nz-radio [nzValue]="3">
            <span>C、3-5年左右</span>
          </label>
          <label nz-radio [nzValue]="4">
            <span>D、5年以上</span>
          </label>
        </nz-radio-group>
      </div>
    </div>
    <div nz-form-item >
      <div nz-form-label >
        <p>•	13、您打算重点投资于哪些种类的投资品种？</p>
      </div>
      <div nz-form-control >
        <nz-radio-group formControlName="q13">
          <label nz-radio [nzValue]="1">
            <span>A、债券、货币市场基金、债券基金等固定收益类投资品种</span>
          </label>
          <label nz-radio [nzValue]="2">
            <span>B、股票、混合型基金、股票型基金等权益类投资品种</span>
          </label>
          <label nz-radio [nzValue]="3">
            <span>C、期货、期权等金融衍生品</span>
          </label>
          <label nz-radio [nzValue]="4">
            <span>D、其他产品或者服务</span>
          </label>
        </nz-radio-group>
      </div>
    </div>
    <div nz-form-item >
      <div nz-form-label >
        <p>•	14、您的投资目的是？</p>
      </div>
      <div nz-form-control >
        <nz-radio-group formControlName="q14">
          <label nz-radio [nzValue]="1">
            <span>A、资产保值</span>
          </label>
          <label nz-radio [nzValue]="2">
            <span>B、资产稳健增长</span>
          </label>
          <label nz-radio [nzValue]="3">
            <span>C、资产迅速增长</span>
          </label>
        </nz-radio-group>
      </div>
    </div>
    <div nz-form-item >
      <div nz-form-label >
        <p>•	15、以下哪项描述最符合您的投资态度？</p>
      </div>
      <div nz-form-control >
        <nz-radio-group formControlName="q15">
          <label nz-radio [nzValue]="1">
            <span>A、厌恶风险，不希望本金损失，希望获得稳定回报</span>
          </label>
          <label nz-radio [nzValue]="2">
            <span>B、保守投资，不希望本金损失，愿意承担一定幅度的收益波动</span>
          </label>
          <label nz-radio [nzValue]="3">
            <span>C、寻求资金的较高收益和成长性，愿意为此承担有限本金损失</span>
          </label>
          <label nz-radio [nzValue]="4">
            <span>D、希望赚取高回报，愿意为此承担较大本金损失</span>
          </label>
        </nz-radio-group>
      </div>
    </div>
    <div nz-form-item >
      <div nz-form-label >
        <p>•	16、假设有两种投资：投资A预期获得10%的收益，可能承担的损失非常小；投资B预期获得30%的收益，但可能承担较大亏损。您会怎么支配您的投资？</p>
      </div>
      <div nz-form-control >
        <nz-radio-group formControlName="q16">
          <label nz-radio [nzValue]="1">
            <span>A、全部投资于收益较小且风险较小的A</span>
          </label>
          <label nz-radio [nzValue]="2">
            <span>B、同时投资于A和B，但大部分资金投资于收益较小且风险较小的A</span>
          </label>
          <label nz-radio [nzValue]="3">
            <span>C、同时投资于A和B，但大部分资金投资于收益较大且风险较大的B</span>
          </label>
          <label nz-radio [nzValue]="4">
            <span>D、全部投资于收益较大且风险较大的B</span>
          </label>
        </nz-radio-group>
      </div>
    </div>
    <div nz-form-item >
      <div nz-form-label >
        <p>•	17、您认为自己能承受的最大投资损失是多少？</p>
      </div>
      <div nz-form-control >
        <nz-radio-group formControlName="q17">
          <label nz-radio [nzValue]="1">
            <span>A、10%以内</span>
          </label>
          <label nz-radio [nzValue]="2">
            <span>B、10%-30%</span>
          </label>
          <label nz-radio [nzValue]="3">
            <span>C、30%-50%</span>
          </label>
          <label nz-radio [nzValue]="4">
            <span>D、超过50%</span>
          </label>
          <label nz-radio [nzValue]="5">
            <span>E、几乎不接受本金损失。仅追求稳定收益，风险容忍程度极低</span>
          </label>
        </nz-radio-group>
      </div>
    </div>
    <div nz-form-item >
      <div nz-form-label >
        <p>•	18、您是否有过不良诚信记录？</p>
      </div>
      <div nz-form-control >
        <nz-radio-group formControlName="q18">
          <label nz-radio [nzValue]="1">
            <span>A、是</span>
          </label>
          <label nz-radio [nzValue]="2">
            <span>B、否</span>
          </label>
        </nz-radio-group>
      </div>
    </div>
    <div nz-form-item nz-row>
        <div nz-form-control nz-col [nzSpan]="12" [nzOffset]="11">
          <button nz-button [nzType]="'primary'" [nzSize]="'large'" (click)="finishQuestions()">确认提交</button>
        </div>
      </div>
    </form>
  </div>
</div>
</div>
