.host-content{
  margin: 15px 55px;
}
.host-parts{
  padding: 20px 30px;
  border-top: solid hsla(0, 0%, 83%, 1) 1px;
}
.key{
  font-size:15px;
  font-weight: 500;
}
.value{
  font-size:15px;
  font-weight: 100;
}
.host-info-content{
  margin: 15px 55px;
}
.mybtn{
  width: 21px;
  height: 21px;
  margin-top: 25px;
}
.myrow{
  margin:5px 10px;
}
.tips{
  font-weight: 900;
  font-size: 14px;
  margin-top: 13px;
}
.bottomBtn{
  font-weight: 500;
}
.host-info-parts{
  padding: 20px 30px;
  border-top: solid hsla(0, 0%, 83%, 1) 1px;
}
.bankcardNo {
  font-size: 18px;
  font-weight: 900;
}
