<div class="f-container">
<div class="f-main">
<div class = "host-info-content">

<div nz-row>
        <div nz-col [nzSpan]="4">
          <div class="f-main-title" >账户信息</div>
        </div>
        <div nz-col [nzSpan]="3" class = 'tips' style="color:green" *ngIf="isAuth === true">
          <i class="anticon anticon-check"></i>
          <span>已实名</span>
        </div>
        <div nz-col [nzSpan]="3" class = 'tips'  style="color:orangered" *ngIf="isAuth === false" >
            <i class="anticon anticon-question" ></i>
            <span>未实名</span>
        </div>
</div>

<div  class = "host-parts">

<div nz-row >
  <div nz-col [nzSpan]="4" style="padding:0; margin:0; width:107px">
    <div class="f-sub-title" style="margin-right: 0">常规信息</div>
  </div>
  <div nz-col [nzSpan]="1" >
    <button class = 'mybtn' nz-button [nzType]="'primary'" [nzShape]="'circle'"
              (click) =' InputState = "in"; changed = true;'>
  <i class="anticon anticon-setting"></i>
  </button>
  </div>
</div>

<div class="host-info-parts">

  <div nz-row class = 'myrow'>
    <div nz-col [nzSpan]="6"  [nzOffset]="'1'" >
      <span class = 'key'>用户名：</span><div class = 'value'>{{user.username}}</div>
    </div>
  </div >

  <div nz-row class = 'myrow'>
    <div nz-col [nzSpan]="6" [nzOffset]="'1'">
      <span class = 'key'>邮箱：</span><div class = 'value'>{{user.email}}</div>
    </div>
    <div nz-col [nzSpan]="6" >
      <nz-input [@flyInOut]="InputState" [nzPlaceHolder]="'请输入新的邮箱'" (keyup)="newUser.email = $event.target.value"></nz-input>
    </div>
  </div >

  <div nz-row class = 'myrow'>
    <div nz-col [nzSpan]="6" [nzOffset]="'1'">
      <span class = 'key'>手机：</span><div class = 'value'>{{user.phone}}</div>
    </div>
    <div nz-col [nzSpan]="6" >
      <nz-input [@flyInOut]="InputState" [nzPlaceHolder]="'请输入新的手机号'" (keyup)="newUser.phone = $event.target.value"></nz-input>
    </div>
  </div >

  <div nz-row class = 'myrow'>
    <div nz-col [nzSpan]="6" [nzOffset]="'1'">
      <span class = 'key'>通信地址：</span><div class = 'value'>{{user.address}}</div>
    </div>
    <div nz-col [nzSpan]="6" >
      <nz-input [@flyInOut]="InputState" [nzPlaceHolder]="'请输入新的通信地址'" (keyup)="newUser.address = $event.target.value"></nz-input>
    </div>
  </div >

  <div style=" height: 60px; padding-top: 15px;">
   <div nz-row>
    <div nz-col [nzSpan]="4"   [nzOffset]="'3'">
      <button nz-button [nzType]="'primary'" *ngIf="changed === true " (click) = "confirm('1')">确认修改</button>
    </div>
    <div nz-col [nzSpan]="4">
      <button nz-button *ngIf="changed === true " (click) = "confirm('-1')">放弃修改</button>
    </div>
  </div>
  </div>
</div>

  <div class="f-sub-title" style="margin-top:0">实名信息</div>
  <div class="host-info-parts">
  <div *ngIf="isAuth === true">
    <div nz-row class = 'myrow'>
      <div nz-col [nzSpan]="6" [nzOffset]="'1'">
        <span class = 'key'>真实姓名：</span><div class = 'value'>{{user.realname}}</div>
      </div>
    </div >
    <div nz-row>
    <div nz-col [nzSpan]="11"*ngFor="let card of user.owned_cards" style=" box-shadow: 0 0 2px; padding: 5px;  margin: 10px;}">
      <div nz-row class = 'myrow'>
          <div nz-col [nzSpan]="8" class = 'key'>银行卡号：</div>
          <div nz-col [nzSpan]="14" class = 'value bankcardNo'>{{card.bankcard_no}}</div>
      </div >
      <div class = 'myrow'>
        <span class = 'key'>开户银行：</span>
        <div class = 'value'>{{card.bankname}}</div>
        <span class = 'key'>开户地：</span>
        <div class = 'value'>{{card.bankarea}}</div>
        <span class = 'key'>预留手机：</span>
        <div class = 'value'>{{card.bankphone}}</div>
      </div >
    </div>
    </div>

    <div style=" height: 60px; padding-top: 15px;">
    <div nz-row>

      <div nz-col [nzSpan]="5"   [nzOffset]="'3'">
        <button nz-button [nzType]="'primary'" class="bottomBtn">修改银行绑定信息</button>
      </div>

      <div nz-col [nzSpan]="4">
        <button nz-button [nzType]="'primary'" class="bottomBtn">修改账户密码</button>
      </div>

      <div nz-col [nzSpan]="4">
        <button nz-button [nzType]="'primary'" class="bottomBtn">修改交易密码</button>
      </div>
    </div>
    </div>
  </div>
  <div *ngIf="isAuth === false"  style="padding-left:40px">
    <p>
      您还没有实名验证，立即<a (click)="toCertificate()" >实名验证</a>，体验平台带给您的快捷。
    </p>
  </div>
</div>
</div>


</div>
</div>
</div>
