h3{
  margin: 19px 30px;
  padding: 0 14px;
  font-weight: 900;
  font-size: 16px;
  border-bottom: solid #54a0de 1px;
  width: 134px;
}
th {
  font-size: 16px;
  background-color: #eeeeee;
  padding:7px;
}
td {
  font-size: 16px;
  background-color: rgba(238, 238, 238, 0.34);
  padding:7px;
  width: 145px;
}
table {
  margin-left: 42px;
}
h4 {
  font-weight: 500;
  font-size: 17px;
  margin-left: 43px;
}
